* {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto"
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
  }

html{
	animation-name: AnimaTAB;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

.encabezado{
	background: rgb(255,0,0);
	background: linear-gradient(30deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
	padding: 25px;
	color: white;
	font-size: 0.9em;
	box-shadow: 5px 1px 2px 1px black;
}

.encabezado .info{
	display: flex;
	flex-direction: column;
}

.encabezado .info .nombre_aplicacion{
	font-size: 1.5em;
	font-weight: 400;
}

.encabezado .info .nombre_aplicacion span{
	color: white;
	font-weight: bolder;
}

.encabezado .info .nombre_company{
	font-size: 0.8em;
}

.encabezado .logo{
	width: 60px;
	box-shadow: 20px 1px 4px 0px black;
	border: 1px solid gray;
	padding: 4px;
}

.encabezado .fecha{
	display: block;
	font-size: 0.7em;
	text-align: right;
	color: whitesmoke;
}

.encabezado .usuario{
	display: block;
	font-size: 0.9em;
	text-align: right;
	
}

.menu_bar{
	width: 100%;
	margin-top: 5px;
	background: rgb(255,0,0);
	background: linear-gradient(30deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
	color: white;
	font-size: 1em;
	box-shadow: 5px 1px 2px 1px black;
}

.menu_bar ul{
    width: 100%;
	height: 100%;
    display: flex;
    padding-left: 0px;
}

.menu_bar ul li{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	color: white;
	font-size: 0.9em;
	transition: font-size 0.4s ease-out;
	transition: letter-spacing 0.4s ease-out;
	letter-spacing: 4px;
	font-weight: bolder;
}



.menu_bar ul li:hover{
	background-color: black;
	font-size: 0.6em;
	letter-spacing: 0px;
}

.menu_bar ul li a{
	text-decoration: none;
	color: honeydew;
}


.contenido{
	height: 480px;
	background-image: url("../pics/fondo2.jpg");

}

.contenido section{
	background-color: rgba(255, 255, 255, 0.8);
	height: 480px;
	border-top: 2px solid red;
	padding: 15px;
	font-size: 1em;
	box-shadow: 0px 1px 2px 0px black;
	margin-bottom: 10px;
}


.cont_inicio .descripcion{
	font-weight: bolder;
	margin-top: -15px;
}

.cont_inicio img{
	width: 200px;
}

.contenido aside{
	background-image: url('../pics/fondoadmin.png');
	background-size: cover;
	background-position: center;
	height: 480px;
	border-top: 2px solid red;
	padding: 15px;
	font-size: 1em;
	box-shadow: 0px 1px 2px 0px black;
	margin-bottom: 10px;
	opacity: 0.7;
}


.contenido aside h6{
	border-left: 2px solid brown;
	font-weight: bolder;
	padding: 5px;
	font-size: 0.9em;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}

.contenido aside .listado_empleados{
	height: 90%;
	overflow-y: auto;
}


.contenido aside table th{
	font-size: 0.7em;
}

.contenido aside table td{
	font-size: 0.7em;
}

.contenido aside h6 i{
	color: brown;
}



.contenido footer{
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: rgb(255,0,0);
	background: linear-gradient(30deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
	color: white;
	font-size: 1em;
	box-shadow: 5px 1px 2px 1px black;
	justify-content: center;
	align-items: center;
}

.contenido footer p{
	margin: 0px;
	font-size: 0.8em;
}

.contenido footer .copy{
	color: grey;
	font-size: 0.6em;
	margin: 3px 0px;
}

.activado{
	background-color: black;
}



.contenido section h5{
	border-left: 2px solid brown;
	margin: 15px 0px;
	font-weight: bolder;
	padding-left: 5px;
	font-size: 1em;
}

.contenido section .title_super{
	margin: 15px 15px;
}


.contenido section h5 i{
	color: brown;
}

.contenido section i{
	color: brown;
}

.contenido section label{
	font-size: 0.9em;
}

.contenido section button{
	width: 100%;
	height: 50px;
	margin-top: 5px;
}

.contenido section button i{
	font-size: 1.5em;
	color: black;
}

.contenido section input, .contenido section select {
	font-size: 0.9em;
}

.contenido section .fila_reporte{
	margin-top: 10px;
}

.contenido_reporte th, td{
	font-size: 0.8em;
}

.fila_reporte .contenido_reporte span{
	font-size: 0.9em;
	color: brown;
	font-weight: bold;
}

.fila_reporte span{
	font-size: 0.9em;
	font-weight: bold;
}

.fila_reporte {
	height: 75%;
	overflow-y: auto;
}

.contenido section .new{
	font-size: 0.8em;
	color: brown;
	font-weight: bolder;
}

.contenido section .cont_employer{
	margin-bottom: 10px;
}

@keyframes AnimaTAB{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
		
	}
}



@media screen and (max-width:1000px) {
	.encabezado div{
		width: 100%;
		text-align: center;
	}

	.encabezado .usuario, .encabezado .fecha {
		width: 100%;
		text-align: center;
	}


	.menu_bar ul{
		display: flex;
		flex-direction: column;
		font-size: 1em;
	}

	.encabezado .logo{
		width: 30%;
		box-shadow: 20px 1px 4px 0px black;
		border: 1px solid gray;
		padding: 4px;
		margin-bottom: 10px;
	}

	.contenido section{
		height: 1110px;
	}

	.contenido{
		height: 1110px;
	
	}

}


