* {
	padding: 0px;
	margin: 0px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


html{
	animation-name: AnimaTAB;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

.encabezado{
    background: rgb(244,194,9);
    background: linear-gradient(34deg, rgba(244,194,9,1) 0%, rgba(233,235,10,1) 78%, rgba(255,255,255,1) 96%);
	padding: 25px;
	color: black;
	font-size: 0.9em;
	box-shadow: 5px 1px 2px 1px black;
}

.encabezado .info{
	display: flex;
	flex-direction: column;
}

.encabezado .info .nombre_aplicacion{
	font-size: 1.5em;
	font-weight: 400;
}

.encabezado .info .nombre_aplicacion span{
	color: white;
	font-weight: bolder;
}

.encabezado .info .nombre_company{
	font-size: 0.8em;
}

.encabezado .logo{
	width: 60px;
	box-shadow: 20px 1px 4px 0px black;
	border: 1px solid white;
	padding: 4px;
}

.encabezado .fecha{
	display: block;
	font-size: 0.7em;
	text-align: right;
	color: goldenrod;
}

.encabezado .usuario{
	display: block;
	font-size: 0.9em;
	text-align: right;
	
}

.menu_bar{
	width: 100%;
	margin-top: 5px;
	background: goldenrod;
	color: white;
	font-size: 1em;
	box-shadow: 5px 1px 2px 1px black;
}

.menu_bar ul{
    width: 100%;
	height: 100%;
    display: flex;
    padding-left: 0px;
}

.menu_bar ul li{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	color: white;
	font-size: 0.9em;
	transition: font-size 0.4s ease-out;
	transition: letter-spacing 0.4s ease-out;
	letter-spacing: 4px;
	font-weight: bolder;
}



.menu_bar ul li:hover{
	background-color: black;
	font-size: 0.6em;
	letter-spacing: 0px;
}

.menu_bar ul li a{
	text-decoration: none;
	color: honeydew;
}


.contenido{
	height: 480px;
	background-image: url("../pics/fondo2.jpg");

}

.contenido section{
	background-color: rgba(255, 255, 255, 0.8);
	height: 480px;
	border-top: 2px solid goldenrod;
	padding: 15px;
	font-size: 1em;
	box-shadow: 0px 1px 2px 0px black;
	margin-bottom: 10px;
}


.cont_inicio .descripcion{
	font-weight: bolder;
	margin-top: -15px;
}

.cont_inicio img{
	width: 200px;
}

.contenido_estadistica_General{
	margin-top: -125px;
	width: 100%;
	background-color: whitesmoke;
}

.contenido_estadistica_General .datas_div div{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 60px;
	height: 45px;
	font-size: 1.5em;
	border-radius: 5px;
	border-left: 2px solid brown;
}

.contenido_estadistica_General .datas_div{
    display: flex;
	justify-content: space-around;
}

.contenido_estadistica_General .datas_div span .data{
	color: black;
}


.contenido_estadistica_General .datas_div span{
	font-size: 0.7em;
}

.contenido_estadistica_General .datas_div span #DataRegistrada{
	font-size: 1.8em;
	font-weight: bold;
	color: blue;
}

.contenido aside{
	display: flex;
	background-image: url('../pics/fondo6.jpg');
	background-size: cover;
	background-position: center;
	height: 480px;
	border-top: 2px solid goldenrod;
	padding: 15px;
	font-size: 1em;
	box-shadow: 0px 1px 2px 0px black;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
}



.contenido footer{
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
    background: rgb(244,194,9);
    background: linear-gradient(34deg, rgba(244,194,9,1) 0%, rgba(233,235,10,1) 78%, rgba(255,255,255,1) 96%);
	color: black;
	font-size: 1em;
	box-shadow: 5px 1px 2px 1px black;
	justify-content: center;
	align-items: center;
}

.contenido footer p{
	margin: 0px;
	font-size: 0.8em;
}

.contenido footer .copy{
	color: goldenrod;
	font-size: 0.6em;
	margin: 3px 0px;
}

.activado{
	background-color: black;
}



.contenido section h5{
	border-left: 2px solid goldenrod;
	margin: 15px 0px;
	font-weight: bolder;
	padding-left: 5px;
	font-size: 1em;
}

.contenido section h5 i{
	color: goldenrod;
}

.contenido section i{
	color: goldenrod;
}

.contenido section label{
	font-size: 0.9em;
}

.contenido section button{
	width: 100%;
	height: 55px;
}

.contenido section button i{
	font-size: 2em;
	color: black;
}

.contenido section input, .contenido section select {
	font-size: 0.9em;
}

.contenido section .fila_reporte{
	margin-top: 10px;
}

.contenido_reporte th, td{
	font-size: 0.7em;
}

.contenido_reporte th, th{
	font-size: 0.8em;
}

.fila_reporte .contenido_reporte span{
	font-size: 0.9em;
	color: goldenrod;
	font-weight: bold;
}

.fila_reporte span{
	font-size: 0.9em;
	font-weight: bold;
}

.fila_reporte {
	height: 75%;
	overflow-y: auto;
}

.fila_find{
	font-size: 1.1em;
	color: white;
	background: rgb(244,194,9);
    background: linear-gradient(34deg, rgba(244,194,9,1) 0%, rgba(233,235,10,1) 78%, rgba(255,255,255,1) 96%);
}



@media screen and (max-width:1000px) {
	.encabezado div{
		width: 100%;
		text-align: center;
	}

	.encabezado .usuario, .encabezado .fecha {
		width: 100%;
		text-align: center;
	}


	.menu_bar ul{
		display: flex;
		flex-direction: column;
		font-size: 1em;
	}

	.encabezado .logo{
		width: 30%;
		box-shadow: 20px 1px 4px 0px black;
		border: 1px solid gray;
		padding: 4px;
		margin-bottom: 10px;
	}

	.contenido section{
		height: 670px;
	}

	.contenido{
		height: 670px;
	
	}

}

@keyframes AnimaTAB{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
		
	}
}

